{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "useBuiltIns": "entry",
        "targets": {
          "node": true
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "esx-ssr"
  ]
}
